import 

h1 {
	display: inline-block;
}

.mainNav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	ul {
		list-style: none;
	}
	li {
		display: inline-block;
	}
}

.event-list {
	display: flex;
	flex-wrap: wrap;
	.event-listItem {
		list-style: none;
		width: calc(25%; - (75px / 3));
		margin-right: 25px;
	}
	.event-listItem:nth-of-type(4n) {
		margin-right: none;
	}
}