@import 'partials/setup';
@import 'partials/variables';

body {
	font-family: 'Playfair Display', serif;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5 , h6 {
	font-family: 'Montserrat', sans-serif;
	color: lighten($red, 15%);
}

button, input[type="submit"] {
	background-color: $red;
	border: 1px solid white;
	border-radius: 4px;
	color: white;
	padding: 6px 18px;

}

.componentSection {
	margin-top: 100px;
}

.mainNav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: $mainColour;
	box-shadow: 1px 1px 5px black;
	display: flex;
	justify-content: space-between;
	.mainHeader {
		display: inline-block;
		margin-left: 10px;
		font-weight: 700;
		font-size: 26px;
	}
	ul {
		display: inline-block;
	}
	li {
		display: inline-block;
		margin: 5px 10px;
		a {
			color: white;
		}
	}
}

.event-list {
	display: flex;
	flex-wrap: wrap;
	li.event-listItem {
		width: calc(33%; - (50px / 3));
		margin-right: 25px;
		border: 1px solid $mainColour;
		border-radius: 4px;
	}
	li.event-listItem:nth-of-type(3n) {
		margin-right: none;
	}
}